:root {
    --title-color: #EEDF7A;
    --subTitle-color: #D8A25E;
    --lobby-background: #343131;
    --lobby-header: #484444;
    --player-color: #f0f0f0;
    --hr-color: black;
}

body {
    font-family: "Work Sans", serif;
    background-color: var(--lobby-background);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    margin: 0;
    color: var(--player-color);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="submit"] {
    box-sizing: border-box;
    cursor: pointer;
    width: 75%;
    padding: 7px;
    color: white;
    background-color: #343131;
    border-radius: 20px;
    border: 2px solid black;
}

input[type="text"] {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px 14px;
    width: 75%;
}

.gameplay-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.player-action-container {
    display: flex;
    flex-direction: column;
}

.player-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profit-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gains-container, .gains-container-AE {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#assets-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#bid-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 70%;
}

#playerProfits{
    justify-content: center;
    font-family: "Work Sans", serif;
    font-size: 1rem;
    color: var(--title-color);
    list-style-position: inside; /* Ensures numbers are inside the list box */
    padding-left: 0; /* Removes extra indentation */
}

#playerProfits > li {
    margin-bottom: 5px;
}

#playerGains, #playerGainsAE{
    justify-content: center;
    font-family: "Work Sans", serif;
    font-size: 1rem;
    color: var(--title-color);
    list-style-position: inside; /* Ensures numbers are inside the list box */
    padding-left: 0; /* Removes extra indentation */
}

#playerGains > li,
#playerGainsAE > li {
    margin-bottom: 5px;
}

#player-list {
    color: var(--player-color);
    list-style-type: none;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    content: left;
    gap: 40px;
}

#leave-btn {
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 7px;
    width: 150px;
    color: white;
    background-color: rgb(244, 86, 86);
    border-radius: 20px;
    border: none;
}
#startNextRound{
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 7px;
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: rgb(62, 206, 241);
    border-radius: 20px;
    border: 2px solid black;
}

#nextGraphBtn{
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 7px;
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: rgb(202, 178, 41);
    border-radius: 20px;
    border: 2px solid black;
}

#submit {
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 7px;
    width: 75%;
    color: white;
    background-color: rgb(45, 192, 60);
    border-radius: 20px;
    border: none;
}

#myImage {
  width: 600px;      
  height: 400px;
  object-fit: contain; /* Keeps image from stretching */
  visibility: hidden; /* Keeps space reserved */
}

.bidGraph {
    margin: 50px 0px;
    width: 80%;
    height: 600px;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bid-ready {
    color: green;
}

.bid-unready {
    color: red;
}

.positive {
    color: green;
}

.negative {
    color: red;
}