<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/html5reset.css">
    <link rel="stylesheet" href="/static/css/game.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}"></script>  
    <title>Game Screen</title>
</head>
<body>
    <div class="gameplay-container">
        {% if not ctx["is_admin"] %}
            <div class="player-action-container">
                <div class="player-stats-container">
                    <h1>Round <span id="round"></span></h1>
                    <div id="assets-list"></div>
                </div>
                <div class="form-container">
                    <form method="POST" id="bid-form">
                        <label for="bid">Quantity:</label>
                        <input type="text" id="quantity" name="quantity">
                        <label for="bid">Price:</label>
                        <input type="text" id="price" name="price">
                        <input type="submit" id="submit" name="bid-submit" value="Submit Bid">
                    </form>
                    <form method="POST" id="default-form">
                        <input type="hidden" name="default_quantity" value="d">
                        <input type="submit" id="default" name="bid-default" value="Default Bid">
                    </form>
                </div>
                <div id="errMsg">
                </div>
            </div>
        {% else %}
            <div class="player-action-container">
                <div class="player-stats-container">
                    <h1>Round <span id="round"></span></h1>
                </div>
                <div class="form-container">
                    <div id="form-submit"><h1>Waiting for all bids...</h1></div>
                    <div id="errMsg">
                    </div>
                    <div id="graph-controls">
                        <button id="nextGraphBtn">Change Graph</button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="profit-container">
            <h1>Player Total Profit</h1>
            <ol id="playerProfits">
                {% for player in ctx["room"]["playersData"] %}
                    <li id="{{ player['id'] }}" class="bid-unready">{{ player["username"] }} $0</li>
                {% endfor %}
            </ol>
        </div>
        <div class="gains-container">
            <h1>Player Round Gains</h1>
            <ol id="playerGains"></ol>
        </div>
        <img id="myImage" alt="Dynamic">
    </div>
    <div class="bidGraph"></div>
    <button id="leave-btn">Leave</button>
</body>
</html>